.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -1.5em;
  margin-bottom: 6em;
}

.favorites {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 0; 
  margin-left: 8%;
  margin-top: 3%;
  cursor: pointer;
}