.favorites {
  width: 10em;
  height: 2em;
  border-radius: 25px;
  border-color: yellow;
  background-color: #0CB1C4;
  text-shadow: 1px 1px lime;
  color: yellow;
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
  cursor: pointer;
}

.favorites:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.favorites:active {
  color: #000
}

.favorites:active:after {
  background: transparent;
}

.favorites:hover:before {
  opacity: 1;
}

.favorites:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0e1a40;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: green;
  font-size:4em;
  transition:all 0.1s ;
  margin:0;
  text-shadow:
  2px 3px 0 #ecb939,
  4px 4px 0 #0e1a40,  
  6px 5px 0 #1a472a,
  8px  6px 0 #740001,
  10px 7px 0 black;
}

h1:focus, h1:hover {
  color: rgb(131, 85, 17);
  text-shadow:
  2px 3px 0 #740001,
  4px 4px 0 #1a472a,  
  6px 5px 0 #0e1a40,
  8px  6px 0 #ecb939,
  10px 7px 0 black;
}

@keyframes my-animation {
  from {
    background-color: #ecb939;
    width: 90px;
    top: 40px;
  }
  to {
    background-color: #946b2d;
    width: 60px;
    top: 70px;
  }
}
 